body {
  background: #f5f5f5;
}
/* Education Section Starts */

.edu-topic {
  position: relative;
}
.education {
  margin-top: 15%;
  margin-bottom: 10%;
}

.edu-logo img {
  margin-top: 2rem;
}
.du-logo img {
  height: 12rem;
  width: 10rem;
}
.cu-logo img {
  height: 10rem;
  width: 8rem;
}
.edu-descripton {
  font-family: sans-serif;
}

.edu-descripton h3 {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
}

.edu-descripton h6 {
  font-weight: 600;
}

.edu-descripton h3,
p,
h6 {
  text-align: center;
}

.edu-myword {
  text-align: justify;
  margin: 1rem 5rem;
}
/* Education Section Ends */

/* Footer Section */

.footer-profile {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-profile p {
  padding: 8px;
}
/* Footer Section Ends */
