/* General CSS Starts */
::selection {
  background-color: #0274be;
  color: white;
}

body {
  background-color: white;
}

/* General CSS Ends */


/* Publication Section CSS Starts */

.publications li {
  color: #838282;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-style: italic;
  margin: 10px auto;
}

.publications a {
  text-decoration: none;
  color: #5374be;
}

.publications a:hover {
  color: darkgray;
}

/* Publication Section CSS Ends */


/* Mentor Section CSS Starts */

.mentor-details a:hover {
  color: black;
}

.mentor-details p {
  font-family: Georgia, sans-serif;
  font-weight: 450;
  font-size: 14px;
}

/* Mentor Section CSS Ends */


/* Footer Section */

.footer-research {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-research p {
  padding: 8px;
}

/* Footer Section Ends */